form.sb-autogen {
	--accent-color: #2271b1;
	max-width: 40rem;

	fieldset {
		border-block: 2px solid var(--accent-color);
		background-color: rgba(255, 255, 255, 0.5);
		padding: 1em;

		&:not(:last-child) {
			margin-block-end: 2em;
		}

		&:not(:first-child):not(legend+&) {
			margin-block-start: 1em;
		}

		&:has(legend+fieldset),
		&:has(legend+.repeater) {
			padding-block-start: 0;
		}
	}

		legend {
			float: unset;
			width: unset;
			padding-inline: .5em;
			margin-bottom: unset;
		}
	.form-field {
		&:not(:last-child) {
			margin-block-end: 2em;
		}

		&:has(input[type=checkbox]) {
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
			align-items: center;
		}

		label {
			font-weight: bold;
			display: block;
		}
	}

	[data-repeater-item] {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		margin-block-end: 1em;

		>.form-field {
			margin-block-end: 0;
			width: 100%;

			>label {
				display: none;
			}
		}

		>fieldset {
			width: calc(100% - 2em);
			margin-block-end: 0;
		}

		&:has(fieldset) {
			flex-direction: column;
		}
	}

	[data-repeater-create],
	[data-repeater-delete] {
		color: var(--accent-color);
		border: 1px solid var(--accent-color);
		background-color: white;
	}
}